{% extends "entry/base.html"  %}
{% load staticfiles %}

{% block eachStyle %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'SentiMap/css/map.css' %}" />

<link rel="stylesheet" href="{% static 'SentiMap/timeline/reset.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'SentiMap/timeline/style.css' %}"> <!-- Resource style -->
<script src="{% static 'SentiMap/timeline/modernizr.js' %}"></script> <!-- Modernizr -->
<style type="text/css">
  #map {    height: 500px; width: 1000px; 
                margin-left: auto; margin-right: auto;
                position: relative;
                margin-top: 50px; }
</style>
{% endblock %}

{% block leftBar %}
  {% include "SentiMap/extendEntry/leftBar.html" %}
{% endblock %}

{% block topBar %}
  {% include "SentiMap/extendEntry/topBar.html" %}
{% endblock %}


{% block content %}
<center>
  <form id="target" action="" method="get">
      {% csrf_token %}
      <!-- <input type="submit" value="傳送"> -->
      <div class="ui big label">
          添加議題:
          <div class="ui icon input">
            <input id="issue" type="text" name="issue" placeholder="Search...">
            <input type="hidden" name="month" value="00">
            <i id="submit_form" class="inverted circular search link icon"></i>
          </div>
        </div>
  </form>
</center>
<section class="cd-horizontal-timeline">
  <div class="timeline">
    <div class="events-wrapper">
      <div class="events">
        <ol>
          <li><a href="#0" data-date="00/00/0000" class="selected">All time</a></li>
          <li><a href="#0" data-date="01/01/2014">Jan</a></li>
          <li><a href="#0" data-date="01/02/2014">Feb</a></li>
          <li><a href="#0" data-date="01/03/2014">Mar</a></li>
          <li><a href="#0" data-date="01/04/2014">Apr</a></li>
          <li><a href="#0" data-date="01/05/2014">May</a></li>
          <li><a href="#0" data-date="01/06/2014">Jun</a></li>
          <li><a href="#0" data-date="01/07/2014">Jul</a></li>
          <li><a href="#0" data-date="01/08/2014">Aug</a></li>
          <li><a href="#0" data-date="01/09/2014">Sep</a></li>
          <li><a href="#0" data-date="01/10/2014">Oct</a></li>
          <li><a href="#0" data-date="01/11/2014">Nov</a></li>
          <li><a href="#0" data-date="01/12/2014">Dec</a></li>
        </ol>

        <span class="filling-line" aria-hidden="true"></span>
      </div> <!-- .events -->
    </div> <!-- .events-wrapper -->
      
    <ul class="cd-timeline-navigation">
      <li><a href="#0" class="prev inactive">Prev</a></li>
      <li><a href="#0" class="next">Next</a></li>
    </ul> <!-- .cd-timeline-navigation -->
  </div> <!-- .timeline -->

  <div class="events-content">
    <ol>
      <li data-date="00/00/0000" class="selected"></li>
      <li data-date="01/01/2014"></li>
      <li data-date="01/02/2014"></li>
      <li data-date="01/03/2014"></li>
      <li data-date="01/04/2014"></li>
      <li data-date="01/05/2014"></li>
      <li data-date="01/06/2014"></li>
      <li data-date="01/07/2014"></li>
      <li data-date="01/08/2014"></li>
      <li data-date="01/09/2014"></li>
      <li data-date="01/10/2014"></li>
      <li data-date="01/11/2014"></li>
      <li data-date="01/12/2014"></li>
    </ol>
  </div> <!-- .events-content -->
</section>
<div id="map"></div>
{% endblock %}

{% block jsblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
<!--MapName是從view傳過來的地圖名稱變數 with可以讓我們在template做變數的儲存 add可以串接字串-->
<script src="
{% with js_static='SentiMap/js/'|add:MapName %}
  {% static js_static %}
{% endwith %}
" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
<script src="{% static 'SentiMap/timeline/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'SentiMap/timeline/main.js' %}"></script> <!-- Resource jQuery -->
<script>
      var target=[];
      var translation={
         "Taichung City" : "台中市",
         "Miaoli County" : "苗栗縣",
         "Chiayi City" : "嘉義縣",
         "Taipei" : "新北市",
         "Taoyuan County" : "桃園縣",
         "Taoyuan City" : "桃園縣",
         "Taoyuan District" : "桃園縣",
         "Kaohsiung" : "高雄市",
         "Taipei City" : "台北市",
         "Tainan City" : "台南市",
         "Keelung City" : "基隆市",
         // "" : "南投縣",
         // "" : "新北市",
         // "" : "新竹市",
         // "" : "雲林縣",
         // "" : "彰化縣",
         // "" : "新竹縣",
         // "" : "屏東縣",
         // "" : "宜蘭縣",
         // "" : "花蓮縣",
         // "" : "台東縣",
         // "" : "金門縣",
         // "" : "澎湖縣",
         // "" : "嘉義市"
      }
      target[0]={
       "map": {
         "Taiwan": {
           "Taiwan": {
             
           },
           "Taiwan Province": {
             
           },
           "台中市": {
             
           }
         }
       },
       "issue": "光復節"
      }

      // switch EN key to CH key
      // var parsed = JSON.parse(myJSONData, function(k, v) {
      //     var CHkey = translate(k);
      //     this[CHkey] = v;
      //     delete this[k];
      // });
      // function translate(k){
      //   $.each(translation,function(uk,uv){
      //     if(uv==k)
      //     {
      //       return uk;
      //     }
      //   });
      //   return k
      // }

      // var map = L.map('map').setView([37.8, -96], 4);
      var cities = new L.LayerGroup();

      L.marker([24.06, 120.40]).bindPopup('This is Littleton, CO.').addTo(cities),
      L.marker([24.066, 120.45]).bindPopup('This is Denver, CO.').addTo(cities),
      L.marker([24.07, 120.48]).bindPopup('This is Aurora, CO.').addTo(cities),
      L.marker([24.075, 120.499]).bindPopup('This is Golden, CO.').addTo(cities);


      var mbAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw';

      var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox.light', attribution: mbAttr}),
        streets  = L.tileLayer(mbUrl, {id: 'mapbox.streets',   attribution: mbAttr});
        comic  = L.tileLayer(mbUrl, {id: 'mapbox.comic',   attribution: mbAttr});
        pencils  = L.tileLayer(mbUrl, {id: 'mapbox.pencils',   attribution: mbAttr});
        outdoors  = L.tileLayer(mbUrl, {id: 'mapbox.outdoors',   attribution: mbAttr});
        satellite  = L.tileLayer(mbUrl, {id: 'mapbox.satellite',   attribution: mbAttr});
        run  = L.tileLayer(mbUrl, {id: 'mapbox.run-bike-hike',   attribution: mbAttr});

      var map = L.map('map', {
          center: [24.06, 121.00],
          zoom: 8,
          // layers: [grayscale, cities]
        });

      var baseLayers = {
        "Grayscale": grayscale,
        "Streets": streets,
        "comic": comic,
        "pencils": pencils,
        "outdoors": outdoors,
        "satellite": satellite,
        "run-bike-hike": run,
      };

      var overlays = {
        "Cities": cities
      };

      // L.control.layers(baseLayers, overlays).addTo(map);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
        maxZoom: 20,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.light'
      }).addTo(map);

      function getColor(d) {
        var senti_number=d;
        if(!$.isNumeric(d))
        {
          senti_number=get_sentiNumber(d);
        }
        
        return senti_number > 15 ? '#FF0000' :
         senti_number > 10  ? '#FF4000' :
         senti_number > 5  ? '#FFBF00' :
         senti_number > 0  ? '#F3F781' :
         senti_number > -5   ? '#58FAF4' :
         senti_number > -10  ? '#00BFFF' :
         senti_number > -15   ? '#0174DF' :
         senti_number == -100  ? '#A4A4A4' :
                    '#0431B4';
         // d == "台中市" ? '#0000FF' :
         //       d == "雲林縣"  ? '#0431B4' :
         //       d == "彰化縣"  ? '#045FB4' :
         //       d == "新竹縣" ? '#0174DF' :
         //       d == "苗栗縣" ? '#00BFFF' :
         //       d == "南投縣" ? '#2ECCFA' :
         //       d == "嘉義縣" ? '#58FAF4' :
         //       d == "屏東縣" ? '#81F7F3' :
         //       d == "宜蘭縣" ? '#0000FF' :
         //       d == "花蓮縣" ? '#2ECCFA' :
         //       d == "台東縣" ? '#81F7F3' :
         //       d == "金門縣" ? '#0174DF' :
         //       d == "澎湖縣" ? '#81F7F3' :
         //       d == "新北市" ? '#0000FF' :
         //       d == "台北市" ?　'#0000FF' :
         //       d == "新北市" ?　'#0431B4' :
         //       d == "桃園縣" ?　'#81F7F3' :
         //       d == "台南市" ?　'#58FAF4' :
         //       d == "高雄市" ?　'#045FB4' :
         //       d == "基隆市" ?　'#045FB4' :
         //       d == "新竹市" ?　'#58FAF4' :
         //       d == "嘉義市" ?　'#58FAF4' :
              // d == "新北市第12選區" ?　'#A4A4A4' :
              // d == "新北市第11選區" ?　'#6E6E6E' :
              // d == "新北市第10選區" ?　'#A4A4A4' :
              // d == "新北市第7選區" ?　'#D8D8D8' :
              // d == "新北市第8選區" ?　'#D8D8D8' :
              // d == "新北市第6選區" ?　'#D8D8D8' :
              // d == "新北市第5選區" ?　'#6E6E6E' :
              // d == "新北市第1選區" ?　'#424242' :
              // d == "新北市第2選區" ?　'#D8D8D8' :
              // d == "台北市第6選區" ?　'#FFFFFF' :
              // d == "台北市第8選區" ?　'#A4A4A4' :
              // d == "台北市第2選區" ?　'#2E2E2E' :
              // d == "台北市第1選區" ?　'#2E2E2E' :
              // d == "台北市第3選區" ?　'#6E6E6E' :
              // d == "台北市第4選區" ?　'#2E2E2E' :
              // d =="五股區" ?　'#F2F2F2' :
              // d =="平溪區" ?　'#F2F2F2' :
              // d =="永和區" ?　'#F2F2F2' :
              // d =="汐止區" ?　'#F2F2F2' :
              // d =="林口區" ?　'#424242' :
              // d =="金山區" ?　'#F2F2F2':
              // d =="泰山區" ?　'#424242' :
              // d =="貢寮區" ?　'#F2F2F2' :
              // d =="淡水區" ?　'#424242' :
              // d =="新店區" ?　'#F2F2F2' :
              // d =="新莊區" ?　'#424242' :
              // d =="瑞芳區" ?　'#6E6E6E' :
              // d =="樹林區" ?　'#F2F2F2' :
              // d =="雙溪區" ?　'#6E6E6E' :
              // d =="鶯歌區" ?　'#424242' :
              // d =="中正區" ?  '#F2F2F2' :
              // d =="中山區" ? '#424242'  :
              // d =="松山區" ? '#6E6E6E'  :
              // d =="大安區" ?  '#FAFAFA' :
              // d =="萬華區" ?  '#FAFAFA' :
              // d =="信義區" ? '#2E2E2E'  :
              // d =="士林區" ?  '#F2F2F2' :
              // d =="北投區" ? '#424242'  :
              // d =="內湖區" ?  '#F2F2F2' :
              // d =="南港區" ? '#424242'  :
              // d =="文山區" ? '#6E6E6E'  :
    }
      function style(feature) {
          return {
              fillColor: getColor(feature.properties.name),
              weight: 2,
              opacity: 1,
              color: 'white',
              dashArray: '3',
              fillOpacity: 0.7
          };
      }
      function highlightFeature(e) {
          var layer = e.target;

          layer.setStyle({
              weight: 5,
              color: '#FA5858',
              dashArray: '',
              fillOpacity: 0.7
          });

          if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
              layer.bringToFront();
          }
          info.update(layer.feature.properties);
      }
      function resetHighlight(e) {
          geojson.resetStyle(e.target);
          info.update();
      }
      function zoomToFeature(e) {
          map.fitBounds(e.target.getBounds());
      }
      function onEachFeature(feature, layer) {
          layer.on({
              mouseover: highlightFeature,
              mouseout: resetHighlight,
              click: zoomToFeature
          });
      }
      var info = L.control();

      info.onAdd = function (map) {
          this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
          this.update();
          return this._div;
      };

      // method that we will use to update the control based on feature properties passed
      info.update = function (props) {
          
          this._div.innerHTML = '<h4>台灣地區 支持程度</h4>' +  (props ?
              '<b>' + props.name + '</b><br />' + get_sentiNumber(props.name) + ' people / mi<sup>2</sup>'
              : 'Hover over a state');
      };
      var legend = L.control({position: 'bottomright'});

      legend.onAdd = function (map) {

          var div = L.DomUtil.create('div', 'info legend'),
              grades = [15,10,5,1,-5,-10,-15,-20],
              labels = [];

          // loop through our density intervals and generate a label with a colored square for each interval
          for (var i = 0; i < grades.length; i++) {
              div.innerHTML +=
                  '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                  grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
          }

          return div;
      };


      geojson = L.geoJson(statesData, {
          style: style,
          onEachFeature: onEachFeature
      }).addTo(map);
      info.addTo(map);
      legend.addTo(map);

      function get_sentiNumber(area_name){
        var senti_number = -100;
        var get_data=0;
        $.each(target[0].map.Taiwan,function(uk,uv){
          if(uk==area_name)
          {
            $.each(uv,function(hk,hv){
              senti_number += hv.score;
              get_data=1;
            });
          }
        });
        $.each(target[0].map.Taiwan.Taiwan,function(uk,uv){
          if(uk==area_name)
          {
            senti_number += uv.score;
            get_data=1;
          }
        });
        $.each(target[0].map.Taiwan['Taiwan Province'],function(uk,uv){
          if(uk==area_name)
          {
            senti_number += uv.score;
            get_data=1;
          }
        });
        if(get_data==1)
        {
          senti_number+=100
        }
        return senti_number;
      }

      function translate(k){
        var rtn_val=k;
        $.each(translation,function(uk,uv){

          if(uk==k)
          {
            rtn_val=uv
            return false;
          }
        });
        return rtn_val;
      }
      $( "#submit_form" ).click(function() {
          if($.trim( $('#issue').val() ) != '')
          {
              var issue = $('#issue').val();
              $.getJSON( "http://140.120.13.243:8000/PTT_KCM_API/api/locations/?issue="+issue, function(data){
                  $.each(data.map.Taiwan,function(uk,uv){
                    
                      var CHkey = translate(uk);
                      if(CHkey!=uk)
                      {
                        data.map.Taiwan[CHkey] = uv;
                        delete data.map.Taiwan[uk];
                      }
                  });
                  $.each(data.map.Taiwan.Taiwan,function(uk,uv){
                    
                      var CHkey = translate(uk);
                      if(CHkey!=uk)
                      {
                        data.map.Taiwan.Taiwan[CHkey] = uv;
                        delete data.map.Taiwan[uk];
                      }
                  });
                  $.each(data.map.Taiwan['Taiwan Province'],function(uk,uv){
                    
                      var CHkey = translate(uk);
                      if(CHkey!=uk)
                      {
                        data.map.Taiwan['Taiwan Province'][CHkey] = uv;
                        delete data.map.Taiwan[uk];
                      }
                  });
                  console.log(data)
                  target[0]=data;
                  //redraw geojson
                  geojson.eachLayer(function (layer) {     
                      layer.setStyle({fillColor :getColor(layer.feature.properties.name)}) 
                  });
              });
          }
      });
      //this function is called in main.js
      function ajaxCurrentDate()
      {
        var current_date = $('.selected').attr("data-date");
        var split_month = current_date.split('/')
        console.log(split_month[1]);
        // $.ajax({                                      
        //  url: '',                            
        //  data: {issue:target[0].issue,current_date:current_date},                       
                                        
        //  dataType: 'json',               
        //  success: function(data)          
        //  {
        //     target[0]=JSON.parse(data);
        //     //redraw geojson
        //     geojson.eachLayer(function (layer) {     
        //         layer.setStyle({fillColor :getColor(layer.feature.properties.name)}) 
        //     });
        //  } 
        // });
      }
</script>
<!-- <script async defer src="http://api.windyty.com/v2.1/boot.js"></script>  -->
<!-- <script src="/static/Sentimap/js/boot.js"></script> -->
{% endblock %}
